@inject ClippyService clippy

<Row Margin="Margin.Is4.FromTop">
    <Column>
        <Heading Size="HeadingSize.Is5">Session Message History</Heading>
    </Column>
    <Column>
        <Button Float="Float.End" Color="Color.Light" Clicked="@BackupConversation"><Icon Name="IconName.Download" /></Button>
    </Column>
</Row>

@code {
    [Parameter]
    public string SessionId {get;set;} = string.Empty;

    async Task BackupConversation()
    {
        await clippy.BackupConversation(SessionId, false);
    }
}
