<Row Margin="Margin.Is2.FromTop">
    <Column>
        <Span>
            @("@")@Entity.Entity:@Entity.Value
            @if (IsCaptured)
            {
                <Icon Name="IconName.Check" TextColor="TextColor.Success" Margin="Margin.Is2.FromStart" />
            }
            else 
            {
                <Icon Name="IconName.QuestionCircle" TextColor="TextColor.Info" Margin="Margin.Is2.FromStart" />
            }
        </Span>
        <Button Float="Float.End" Clicked="@Remove"><Icon Name="IconName.MinusCircle" TextColor="TextColor.Danger" /></Button>
    </Column>
</Row>

@code {
    [Parameter]
    public RuntimeEntity Entity { get; set; } = new RuntimeEntity();
    [Parameter]
    public bool IsCaptured { get; set; } = false;
    [Parameter]
    public EventCallback<RuntimeEntity> EntityChanged { get; set; }
    [Parameter]
    public EventCallback<RuntimeEntity> OnRemoveEntity { get; set; }

    private void OnDataItemRefreshedHandler(string id)
    {
        EntityChanged.InvokeAsync(Entity);
        StateHasChanged();
    }

    private void Remove()
    {
        OnRemoveEntity.InvokeAsync(Entity);
    }
}
