@using IBM.Watson.Assistant.v2.Model

<Row Margin="Margin.Is2.FromTop">
    <Column>
        <Span>
            @("@")@Entity.Entity:@Entity.Value
            @if (IsCaptured)
            {
                <Icon Name="IconName.Check" TextColor="TextColor.Success" Margin="Margin.Is2.FromStart" />
            }
            else 
            {
                <Icon Name="IconName.QuestionCircle" TextColor="TextColor.Info" Margin="Margin.Is2.FromStart" />
            }
        </Span>
    </Column>
</Row>

@code {
    [Parameter]
    public RuntimeEntity Entity { get; set; } = new RuntimeEntity();
    [Parameter]
    public bool IsCaptured { get; set; } = false;
}
