<div class="row" style="margin-top:15px;">
    <div class="col">
        <h5>Identified Items</h5>
    </div>
</div>
@if (Analyzer != null && Analyzer.DataItems.Count > 0)
{
    <div class="row" style="margin-top:15px;">
        <div class="col">
            <h6>Actual Hash: @Analyzer.MarkerExtensionHash</h6>
        </div>
    </div>
    <hr />
    @foreach (var item in Analyzer.DataItems.Values)
    {
        <AnalyzedDataItemComponent Item="@item" />
    }
}

@code {
    [Parameter]
    public WatsonAssistantAnalyzer Analyzer { get; set; } = new WatsonAssistantAnalyzer();
}
