@using IBM.Watson.Assistant.v2.Model

<Row Margin="Margin.Is2.FromTop">
    <Column>
        <Span>
            #@Intent.Intent
            @if (IsCaptured)
            {
                <Icon Name="IconName.Check" TextColor="TextColor.Success" />
            }
            else
            {
                <Icon Name="IconName.QuestionCircle" TextColor="TextColor.Info" Margin="Margin.Is2.FromStart" />
            }
        </Span>
    </Column>
</Row>

@code {
    [Parameter]
    public RuntimeIntent Intent { get; set; } = new RuntimeIntent();
    [Parameter]
    public bool IsCaptured { get; set; } = false;
}
