@inject ClippyService clippy

<Row Margin="Margin.Is2.FromTop">
    <Column>
       <Button Color="Color.Primary" Block Clicked="LoadWatsonAssistant">Load Clippy Watson</Button>
    </Column>
</Row>

@code {
    [Parameter]
    public string SessionId { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<string> SessionIdChanged { get; set; }
    async Task Load()
    {
        await clippy.Load();
    }

    async Task LoadWatsonAssistant()
    {
        // load clippy
        await Load();

        var res = await clippy.StartWatsonSession(clippy.WatsonApiUrl);
        if (res.Item1)
        {
            SessionId = res.Item2;
            await SessionIdChanged.InvokeAsync(SessionId);
        }
        Console.WriteLine("Session Id: " + SessionId);
        await InvokeAsync(StateHasChanged);
    }
}
