@inject ClippyService clippy

@if (!string.IsNullOrEmpty(Response))
{
    <Row Margin="Margin.Is2.FromTop">
        <Column>
            @if (!string.IsNullOrEmpty(audiodata))
            {
                <audio autoplay
                       controls
                       src="@audiodata"
                       type="audio/wav"
                       name="media"
                       title="Respond"
                       style="min-height: 30px; max-height: 60px; width: 100%; min-width: 100px; max-width: 400px;" />
            }
            <Button Size="Size.ExtraSmall" Loading="@loading" Color="Color.Primary" Float="Float.End" Clicked="@PlayLastMessage"><Icon Name="IconName.PlayCircle" IconSize="IconSize.ExtraSmall" /></Button>
        </Column>
   </Row>
}

@code {
    [Parameter]
    public string Response { get; set; } = string.Empty;
    [Parameter]
    public string LanguageTranslation { get; set; } = "cs-en";
    public string LanguageSynthesis { get; set; } = "en-US_LisaV3Voice";

    bool loading = false;
    string audiodata = "";

    async Task PlayLastMessage()
    {
        loading = true;
        var translatedText = await clippy.Translate(Response, LanguageTranslation);
        if (translatedText.Item1)
        {
            var res = await clippy.Synthetise(translatedText.Item2, LanguageSynthesis);
            if (res.Item1)
            {
                audiodata = res.Item2;
                Console.WriteLine(audiodata);
                loading = false;
                await InvokeAsync(StateHasChanged);
            }
        }
    }
}
