@inject ClippyService clippy

<Row Margin="Margin.Is4.FromTop">
    <Column>
        <Row Margin="Margin.Is2.FromTop">
            <Column>
                <Span>Questions</Span>
            </Column>
            <Column>
                <Span>Answers</Span>
            </Column>
        </Row>
        <Row Margin="Margin.Is2.FromTop">
            <Column>
                @if (clippy != null)
                {
                    var first = true;
                    @foreach (var message in clippy.GetMessageHistory(SessionId, true))
                    {
                        if (first)
                        {
                            <Row Margin="Margin.Is4.FromTop">
                                <Column>
                                    <Heading Size="HeadingSize.Is6">Latest Message</Heading>
                                </Column>
                            </Row>
                        }
                        <MessagesOutputLine Message="@message" />
                        @if (first)
                        {
                            <Divider />
                            <Row Margin="Margin.Is4.FromTop">
                                <Column>
                                    <Heading Size="HeadingSize.Is6">Older Messages</Heading>
                                </Column>
                            </Row>
                            first = false;
                        }
                    }
                }
            </Column>
        </Row>
    </Column>
</Row>

@code {
    [Parameter]
    public string SessionId { get; set; } = string.Empty;

    public async Task Refresh()
    {
        await InvokeAsync(StateHasChanged);
    }
}
