<div class="row" style="margin-top:5px;">
    <div class="col w-100" style="min-width: 280px;">
        <div class="card bg-opacity-25 bg-info">
            <div class="card-body">
                @if (Message != null)
                {
                    <p class="card-text">@Message.Question</p>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public WatsonMessageRequestRecord? Message { get; set; }
}
