@using BlazorClippyWatson.Analzyer
@using BlazorClippyWatson.Common
@using IBM.Watson.Assistant.v2.Model

@page "/dialoguetools"
@inject ClippyService clippy
@inject AppData AppData
@inject HttpClient Http

<PageTitle>Dialogue Tools</PageTitle>

<LoadWatson @bind-SessionId="@SessionId" />


<Row Margin="Margin.Is4.FromTop">
    <Column>
        <Button Block Clicked="GetCombos" Color="Color.Primary" >Calculate Dialogue Ways Tree</Button>
    </Column>
    </Row>
<Row Margin="Margin.Is4.FromTop">
    <Column>
        <DialogueComponent Item="@dialogue" />
    </Column>
    <Column>
        <IdentifiedItemsList Analyzer="@clippy.Analyzer" />
    </Column>
</Row>

@code {
    public string SessionId { get; set; } = string.Empty;
    public Dialogue dialogue { get; set; } = new Dialogue();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // create data items which should be captured
            var storeddataitems = await Http.GetStringAsync("dataitems.mmd");
            if (storeddataitems != null)
                await clippy.LoadDataItemsFromMermaid(storeddataitems);
        }
        base.OnAfterRender(firstRender);
    }

    public void GetCombos(MouseEventArgs e)
    {
        var combos = clippy.Analyzer.GetHashesOfAllCombinations();
        var combosDialogue = AnalyzerHelpers.GetDialogueFromCombos(combos, clippy.SessionId);
        if (combosDialogue != null)
            dialogue = combosDialogue;
        StateHasChanged();
    }
}